body{
    background: rgb(255,203,164);
    background: linear-gradient(180deg, rgba(255,203,164,1) 0%, rgba(255,137,118,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    padding: 0;
    list-style: none;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
h3{
    color: rgb(58, 58, 58);
}
h4{
    color: rgb(145, 145, 145);
}
.l-header{
    width: 100%;
    position:fixed;
    top:0;
    left:0;
}
.nav-grid{

    display:grid;
    grid-template-columns:100%;
    margin-left: 10px;
    margin-right: 10px;
    column-gap:32px;
  
}
.nav-bar{
    display: flex;
    column-gap:32px;
    justify-content: space-between;
    align-items: center;
    
}
.nav-bar li{
    display:inline-flex;
    padding: 10px;
}

ul a:hover{
    color:#FF8976;
}

.wrap{
    min-width: 600px;
    width: 80%;
    margin: auto;
}

#profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
section{
    padding: 64px;;
}
.content{
    padding: 25px;
}
footer{
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
    background-color: #CB4E47;
    color: white;
    padding: 25px;
}