body{

    font-family:'Poppins', sans-serif;
}
ul{
    padding: 0;
    list-style: none;
    color:#CB4E47;
}
a{
    text-decoration: none;
    color:#CB4E47;
}
section {
    padding: 64px;
}
/*navbar*/
.l-header{
    width: 100%;
    position:fixed;
    top:0;
    left:0;
}
.nav-grid{

    display:grid;
    grid-template-columns:100%;
    margin-left: 10px;
    margin-right: 10px;
    column-gap:32px;
  
}
.nav-bar{
    display: flex;
    column-gap:32px;
    justify-content: space-between;
    align-items: center;
    
}
.nav-bar li{
    display:inline-flex;
    padding: 10px;
}

ul a:hover{
    color:#FF8976;
}

/*HOME SECTION*/
.wrap{
    min-width: 600px;
    width: 90%;
    margin:auto;
}
.home{
    margin:auto;
    display: flex;
}
.content{
    color: black;
}
img{
    border-radius: 50%;
    display: flex;
}

/*ABOUT SECTION*/
.about{
    text-align: center;
    padding: 64px;
}

footer{
    width: 100%;
    position:fixed;
    bottom:0;
    left:0;
    background-color: #CB4E47;
    color: white;
    padding: 25px;
}